*.class
*.war
*.ear
.project
.classpath
*.iml
*.iws
*.ipr
*versionsBackup
*/*versionsBackup
*/.externalToolBuilders/

*/.settings/
*/.idea/
*/.gradle/
*/.svn/
*/target/
*/build/
*/bin/
*/classes/

.settings/
.idea/
.gradle/
.svn/
target/
build/
bin/
